@font-face {
  font-family: "iconfont"; /* Project id 2804803 */
  src: url('iconfont.eot?t=1631268876849'); /* IE9 */
  src: url('iconfont.eot?t=1631268876849#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1631268876849') format('woff2'),
       url('iconfont.woff?t=1631268876849') format('woff'),
       url('iconfont.ttf?t=1631268876849') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu:before {
  content: "\e61f";
}

.icon--chanpinfenleishengchanluxian:before {
  content: "\e784";
}

.icon-shezhi:before {
  content: "\e627";
}

.icon-order1:before {
  content: "\e603";
}

.icon-homefill:before {
  content: "\e6bb";
}

.icon-rechargefill:before {
  content: "\e6ec";
}

.icon-myfill:before {
  content: "\e78c";
}

.icon-triangledownfill:before {
  content: "\e79b";
}

.icon-triangleupfill:before {
  content: "\e79c";
}

.icon-goodsnewfill:before {
  content: "\e7bf";
}

